.boardContainer {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.board {
    
    width: 700px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 790px) {
      .board {
          width: 90vw;
      }
  }

